body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.main-container {
  background-color: #674bb1;
  background-image: url(../images/bg-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100hv;
}
.container {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}
.logo img {
  height: 32px;
  padding: 32px 0 0 32px;
}
.content {
  padding: 36px;
}
.content img {
  width: 100%;
  padding-top: 20px;
}
.content p {
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
}
.content a {
  margin: 28px auto 0 auto;
  font-size: 13px;
  color: hsl(228, 45%, 44%);
  background: white;
  border-radius: 20px;
  display: inline-block;
  text-decoration: none;
  width: 65%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 1px 15px -4px black;
}
.title {
  margin-top: 48px;
  color: white;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.social-media img {
  width: 32px;
  filter: invert(1);
}
.social-media img:nth-child(2) {
  margin: 12px;
}
@media (min-width: 640px) {
  .main-container {
    background-image: url(../images/bg-desktop.svg);
    background-size: contain;
  }
  .logo img {
    height: 48px;
    padding: 48px 0 0 48px;
  }
  .content {
    display: flex;
  }
  .container {
    height: 100%;
    position: relative;
  }
  .content img {
    width: 100%;
  }
  .social-media {
    position: absolute;
    right: 24px;
    bottom: 0;
    margin-bottom: 24px;
  }
}
